@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/banner-bg.jpg);
  min-height: 100vh;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

nav {
  display: block;
}

nav {
  border: 1px solid white;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 50px;
  padding: 1.3rem;
  position: fixed;
  left: 5%;
  z-index: 999;
}

nav > img {
  width: 223px;
}

nav > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

nav > ul > li {
  padding: 7px 12px;
  background-color: white;
  color: black;
  border-radius: 25px;
  transition: 0.4s ease;
}

#icon {
  display: none;

  align-self: center;
  margin-right: 1.5rem;
  font-size: 2.5rem;
  color: var(--bs-blue);
  cursor: pointer;
}

.active {
  padding: 7px 12px;
  background-color: var(--bs-indigo);
  color: white;
  border-radius: 25px;
}

nav > ul > li:hover {
  padding: 7px 12px;
  background-color: var(--bs-indigo);
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.nft_box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 8rem;
}

.nft_box > img {
  margin-left: 8rem;
  max-width: 510px;
  /* height: 430px; */
  object-fit: cover;
  object-position: center;
}

.nft_text > h6 {
  font-size: 20px;
  color: #ffffff;
}

.nft_text > h2 {
  font-size: 50px;
  color: #ffffff;
  margin: 15px 0 20px 0;
}

.nft_text > p {
  font-size: 15px;
  color: #ffffff;
  line-height: 30px;
}

.button_container {
  display: flex;
}

.button_container > button {
  margin-top: 2rem;
}

.button_container > button:first-of-type {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 35px;
  border: 1px solid var(--bs-blue);
  margin-right: 30px;
  color: rgb(255 255 255);
  border-radius: 25px;
  background: transparent;
  transition: 0.3s ease;
  position: relative;
  z-index: 0;
}

.line {
  height: 3px;
  width: 80%;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.button_container > button:nth-of-type(2) {
  font-size: 14px;
  font-weight: 500;
  padding: 15px 35px;
  border: 1px solid var(--bs-blue);

  color: rgb(255 255 255);
  border-radius: 25px;
  background: transparent;
  transition: 0.3s ease;
  background-color: var(--bs-blue);
  position: relative;
}

.button_container > button:first-of-type:hover {
  background-color: var(--bs-blue);
}

.button_container > button:nth-of-type(2):hover {
  border: 1px solid rgb(255 255 255);
  background-color: rgb(255 255 255);
  color: var(--bs-blue);
}

.category_section {
  background-image: url(https://templatemo.com/templates/templatemo_577_liberty_market/assets/images/dark-bg.jpg);
  object-position: center;
  object-fit: cover;
  padding: 5rem 1rem;
}

.small_line {
  background-color: var(--bs-indigo);
  width: 7%;
  height: 3px;
  margin: 3rem auto 0 auto;
}

.category_section > h1 {
  color: white;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.category_container {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 10rem;
}

.blockchain {
  border: 1px solid #404245;
  background-color: #282b2f;
  border-radius: 15px;
  width: 300px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blockchain > img {
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  width: 62px;
  height: 62px;
  object-position: center;
  object-fit: cover;
}

.blockchain > h1 {
  color: white;
  margin-top: 1rem;
  font-size: 17px;
}

.blockchain_btn {
  padding: 1rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: var(--bs-indigo);
  position: absolute;
  bottom: -1.5rem;
  visibility: hidden;
  border: none;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.blockchain:hover .blockchain_btn {
  visibility: visible;
  background-color: white;
}

.blockchain_btn:hover {
  background-color: var(--bs-indigo) !important;
  color: white;
  transition: 0.5s ease;
}

.collections {
  width: 90%;
  margin: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.collections_container {
  width: 300px;
  color: white;
  height: 500px;
  position: relative;
}

.collections_container > img {
  width: 100%;
  height: 60%;
  object-position: center;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.text_container {
  background-color: #282b2f;
  padding: 2rem 1rem;
  height: 40%;
  z-index: 1;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.text_container > h1 {
  margin-bottom: 1.5rem;
}

.container_line {
  width: 100%;
  height: 1px;
  background-color: #404245;
  margin-bottom: 1.5rem;
}

.text_container > button {
  padding: 7px 70px;
  background-color: var(--bs-indigo);
  border-radius: 25px;
  border: none;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 18px;
  z-index: 3;

  bottom: -1rem;
}

.text-container2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.text-container2 > p {
  margin-bottom: 8px;
}

.text_container > button:hover {
  background-color: white;
  color: var(--bs-indigo);
}

@media only screen and (max-width: 900px) {
  nav > ul {
    display: none;
  }

  #icon {
    display: block;
  }

  .nft_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nft_box > img {
    display: block;
    width: 100%;
    margin: 2rem auto 0;
  }

  .button_container {
    display: flex;
  }

  .collections {
    justify-content: center;
  }
}

@media only screen and (min-width: 992px) {
  .nft_text {
    flex: 0 0 auto;
    width: 50%;
  }
}
